# /etc/systemd/system
[Unit]
Description=Enable docker/nextcloud on startup

[Service]
Type=simple
ExecStart=/usr/bin/docker-compose --file /srv/git/dockers/nextcloud/docker-compose.yml --env-file /srv/git/dockers/nextcloud/.env up --detach
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
