# Put it in /etc/systemd/system/
[Unit]
Description=Get Function Keys on Keychron Keyboard working

[Service]
Type=simple
ExecStart=/usr/local/bin/keychron
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
